.review-item {
  display: flex;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #95a0a7;
  align-items: center;
  padding: 8px;
  margin-top: 10px;
}
.review-item img {
  width: 91px;
}
.review-details-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 100%;
  justify-content: space-between;
}
.review-details-container p {
  margin: 0;
}
.delete-container {
  background-color: #f4b7b7;
  padding: 8px;
  border-radius: 50%;
  color: #f95353;
}
.delete-container:hover {
  background-color: #f76060;
  color: #6a1a1a;
  cursor: pointer;
}
